#jplayer_container { width: 100% }
div.jp-audio { position: relative; text-shadow: none!important; min-width: 270px; width: 100%; margin: 0 auto; padding-top: 20px!important; @include border-radius($border); background: url('/assets/black.png');}
div.jp-audio .jp-interface { position: static !important; position: relative; width: 90%; margin-top: 20px!important; margin-left: 5%; height: 60px; }
div.jp-controls-holder { clear: both; width: 100%; margin: 0 auto; position: relative; overflow: hidden; }
div.jp-interface ul.jp-controls { list-style-type: none; padding: 0; overflow: hidden; width: 100%; height: 34px; margin: 0 auto; }
div.jp-interface ul.jp-controls li { display: inline; float: left; }
div.jp-interface ul.jp-controls a { display: block; overflow: hidden; text-indent: -9999px; margin: 0; padding: 0; }
div.jp-type-playlist .jp-controls li a { outline: none }
div.jp-type-playlist .jp-play { background: url("/assets/jPlayer_sprite.png") 0 0; width: 60px; height: 60px; position: absolute; top: 7px; left: 56px; }
div.jp-type-playlist .jp-play:hover { background: url("/assets/jPlayer_sprite.png") -60px 0 }
div.jp-type-playlist .jp-pause { background: url("/assets/jPlayer_sprite.png") -120px 0; width: 60px; height: 60px; position: absolute; top: 7px; left: 56px; }
div.jp-type-playlist .jp-pause:hover { background: url("/assets/jPlayer_sprite.png") -180px 0 }
div.jp-type-playlist .jp-previous { background: url("/assets/jPlayer_sprite.png") 0 -60px; width: 40px; height: 40px; position: absolute; top: 19px; left: 17px; }
div.jp-type-playlist .jp-previous:hover { background: url("/assets/jPlayer_sprite.png") -40px -60px }
div.jp-type-playlist .jp-next { background: url("/assets/jPlayer_sprite.png") -80px -60px; width: 40px; height: 40px; position: absolute; top: 19px; left: 117px;}
div.jp-type-playlist .jp-next:hover { background: url("/assets/jPlayer_sprite.png") -120px -60px }
.jp-progress { width: 70%; height: 5px; padding: 0; margin-top: 7px; margin-left: 15%; background: url("/assets/jPlayer_sprite.png") 0 -116px repeat-x; z-index: 100; }
.jp-seek-bar { background: url("/assets/jPlayer_sprite.png") 0 -105px repeat-x; width: 0px; height: 100%; cursor: pointer; }
.jp-play-bar { background: url("/assets/jPlayer_sprite.png") 0 -110px repeat-x; width: 0px; height: 100%; overflow: hidden; }
div.jp-interface ul.jp-controls a.jp-mute, div.jp-interface ul.jp-controls a.jp-unmute, div.jp-interface ul.jp-controls a.jp-volume-max { position: absolute; width: 16px; height: 12px; }
div.jp-interface ul.jp-controls a.jp-mute { background: url("/assets/jPlayer_sprite.png") -16px -122px no-repeat; opacity: 0.7; top: 45px; right: 28%; }
div.jp-interface ul.jp-controls a.jp-mute:hover { opacity: 1 }
div.jp-interface ul.jp-controls a.jp-unmute { background: url("/assets/jPlayer_sprite.png") -32px -122px no-repeat; opacity: 0.7; top: 45px; right: 28%; }
div.jp-interface ul.jp-controls a.jp-unmute:hover { opacity: 1 }
div.jp-interface ul.jp-controls a.jp-volume-max { background: url("/assets/jPlayer_sprite.png") 0 -122px no-repeat; opacity: 0.7; top: 45px; right: 6%; }
div.jp-interface ul.jp-controls a.jp-volume-max:hover { background: url("/assets/jPlayer_sprite.png") 0 -122px repeat-x; opacity: 1; }
.jp-volume-bar { position: absolute; width: 28%; height: 4px; padding: 0; right: 5%!important; top: 30px!important; overflow: hidden; background: url("/assets/jPlayer_sprite.png") 0 -116px repeat-x; }
.jp-volume-bar:hover { cursor: pointer }
div.jp-audio .jp-interface .jp-volume-bar { top: 30px; right: 0; }
.jp-volume-bar-value { background: url("/assets/jPlayer_sprite.png") 0 -100px; height: 4px; }
.jp-current-time, .jp-duration { margin-top: -9px; width: 30px; font-size: 11px; color: #ccc; line-height: 11px!important; }
.jp-current-time { float: left }
.jp-duration { float: right; text-align: right; }
.jp-playlist ul { list-style-type: none; margin: 0; padding: 0; }
.jp-title li, .jp-playlist li { position: relative; font-size: 14px; margin: 0 0 0 0; background: url('/assets/black.png') ;padding: 5px 20px 0; overflow: hidden; height: 24px!important; border-top: 1px solid #1a1a1a; }
.jp-playlist li a { position: absolute; top: 0; left: 0; width: 100%; width: 100%; height: 100%; padding: 0px 10px; line-height: 28px!important; text-decoration: none!important; outline: none; }
.jp-playlist li:last-child { border-radius: 0 0 $border $border}
div.jp-type-playlist div.jp-playlist li:first-child { border-top: none; padding-top: 3px; }
div.jp-type-playlist div.jp-playlist li:last-child { border-bottom: none; padding-bottom: 3px; }
div.jp-type-playlist div.jp-playlist a { color: #444!important; text-decoration: none; }
div.jp-type-playlist div.jp-playlist li:hover { background: #000; }
div.jp-type-playlist div.jp-playlist li.jp-playlist-current { background: #000; }
div.jp-type-playlist div.jp-playlist li.jp-playlist-current a { color: #549c95!important;}
div.jp-jplayer audio, div.jp-jplayer { width: 0px; height: 0px; }
div.jp-jplayer { background-color: #000000 }
.jp-no-solution { position: absolute; width: 390px; margin-left: -202px; left: 50%; top: 10px; padding: 5px; font-size: .8em; background-color: #333; border-top: 2px solid #ccc; border-left: 2px solid #ccc; border-right: 2px solid #ccc; border-bottom: 2px solid #ccc; color: #FFF; display: none; }
.jp-no-solution a { color: #FFF }
.jp-no-solution span { font-size: 1em; display: block; text-align: center; font-weight: bold; }
.jp-audio .jp-no-solution { width: 190px; margin-left: -102px; }

