#register.modal.fade
  .modal-header
    %img{:src => "/assets/logo-new.png"}
  .modal-body
    %form#new_user
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "meK1hiu5YvuJ8acl79uxOVj2MOPeGLFpKzxNS0L7gLo="}/
      .alert.alert-error
      %input#user_username{:name => "user[username]", :value => "username"}
      %input#user_email{:name => "user[email]", :value => "email"}
      %input#user_password{:name => "user[password]", :type => "password", :value => "password"}
      %input#user_password_confirmation{:name => "user[password_confirmation]", :type=> "password", :value => "password"}
      %p
      .have-account
        %small
          Have an account?
          %a.hide-register{:href => "#"} Log in 
      .register{:style => "display: none;"}
        %small
          Need an account?
          %a.show-register{:href => "#"} Sign up
  .modal-footer
    %a.btn.submit{:href => "#"} Submit
    %a.btn.close{:"data-dismiss" => "modal"} Cancel
